
.thumbnail-pic{
  width: 100%;
  border-radius: 8px;
}


.channel-picture{
  vertical-align: top;
}
.profile-picture{
  width: 38px;
  border-radius: 25px;
}
.verification-icon{
  display: inline-block;
  width: 15px;
  opacity: 0.6; 
  vertical-align: bottom;
}
.video-author{
  display: inline-block;
  color: rgb(96, 96, 96);
  font-size: 14px;
}

.video-tittle{
  font-size: 17px;
  font-weight: 500;
  line-height: 21px;
  margin-bottom: 6px;
}
.thumbnail-row{
  margin-bottom: 10px;
  position: relative;
}
.video-stats{
  color: rgb(96, 96, 96);
  font-size: 14px;
  margin-top: 3px;
}
.video-info-grid{
  display: grid;
  grid-template-columns: 50px 1fr;
}
.video-preview-grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 15px;
  row-gap: 36px;
  
}
.video-time{
  position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    bottom: 14px;
    right: 10px;
    border-radius: 3px;
    font-weight: 500;
    font-size: 14px;
}
.searched-items {
  font-family: Roboto, Arial, sans-serif;
  display: flex;
  justify-content: space-between; 
  gap: 10px; 
  padding: 20px;
  position: fixed;
  z-index: 50;
  background-color: white;
  top: 65px;
  right: 25px;
  left: 80px;
}

.searched-items button {
  font-family: Roboto, Arial, sans-serif;
  padding: 6px 9px;
  font-size: 15px;
  cursor: pointer;
  justify-content: space-between;
  height: 28px;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.1);
  color: black;
  border: none;
  font-family: roboto;
  font-weight: 500;
}

.showmore-btn{
  width: 381px;
  height: 36px;
  border-radius: 30px;
  border: solid 0.5px rgba(0, 0, 0, 0.1);
  background-color: white;
  font-weight: 500;
  left: 557px;
  top: 1409px;
  position: absolute;
}
.show-line{
  width: 100%;
  height: 51px;
  border-bottom: solid 2px rgb(243, 239, 239);
  margin-bottom: 50px;
}


